.tambahProdukChild {
    position: relative;
    top: 271px;
    left: 313px;
    filter: blur(4px);
    border-radius: var(--br-3xs);
    background: linear-gradient(180deg, rgba(93, 240, 255, 0.5), rgba(79, 176, 255, 0.5));
    width: 801px;
    height: 469px;
}
.tambahProdukItem {
    position: absolute;
    top: 0px;
    left: 0px;
    background: #41c6f4;
    width: 202px;
    height: 885px;
}
.alkesCom {
    position: absolute;
    top: 40px;
    left: 27px;
    font-size: 24px;
    font-family: var(--font-playfair-display);
    color: var(--color-white);
}
.icon {
    position: absolute;
    top: 99px;
    left: 27px;
    width: 27px;
    height: 27px;
    object-fit: cover;
}
.dashboard {
    position: absolute;
    top: 166px;
    left: 27px;
    line-height: 20px;
    font-weight: 600;
    transition-duration: 0.4s;
    color: #000;
}
.dashboard:hover {
    position: absolute;
    top: 166px;
    left: 27px;
    line-height: 20px;
    font-weight: 600;
    transition-duration: 0.4s;
    background-color: rgba(255, 255, 255, 0.5);
  transform: scale(1.05);
  border-radius: 8px;
  color: #000;
    
}

.groupChild {
    position: absolute;
    top: 0px;
    left: 0px;
    backdrop-filter: blur(4px);
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 125px;
    height: 21px;
}
.tambahProduk1 {
    position: absolute;
    top: 1px;
    left: 5px;
    line-height: 20px;
    font-weight: 600;
}
.rectangleParent {
    position: absolute;
    top: 208px;
    left: 22px;
    width: 125px;
    height: 21px;
}
.informasiProduk {
    position: absolute;
    top: 103px;
    left: 313px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 600;
}
.tambahProdukInner {
    position: absolute;
    top: 180.5px;
    left: 312.5px;
    border-top: 1px solid var(--color-black);
    box-sizing: border-box;
    width: 1262.1px;
    height: 1px;
}
.icon1 {
    position: absolute;
    top: 755px;
    left: 1094px;
    width: 20px;
    height: 20px;
    object-fit: cover;
}
.icon2 {
    position: absolute;
    top: 756px;
    left: 1010px;
    width: 20px;
    height: 20px;
    object-fit: cover;
}
.groupItem {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(217, 217, 217, 0);
    width: 56px;
    height: 19px;
}
.div {
    position: absolute;
    top: 0px;
    left: 8px;
    line-height: 20px;
    font-weight: 500;
}
.div1 {
    position: absolute;
    top: 0px;
    left: 22px;
    line-height: 20px;
    font-weight: 500;
}
.div2 {
    position: absolute;
    top: 0px;
    left: 40px;
    line-height: 20px;
    font-weight: 500;
}
.rectangleGroup {
    position: absolute;
    top: 756px;
    left: 1036px;
    width: 56px;
    height: 20px;
}
.lineDiv {
    position: absolute;
    top: 773.5px;
    left: 1041.5px;
    border-top: 1px solid var(--color-black);
    box-sizing: border-box;
    width: 10px;
    height: 1px;
}
.rectangleDiv {
    position: absolute;
    top: 212px;
    left: 313px;
    border-radius: var(--br-3xs);
    background-color: #d9d9d9;
    width: 355px;
    height: 34px;
}
.icon3 {
    position: absolute;
    top: 220px;
    left: 330px;
    width: 17px;
    height: 17px;
    object-fit: cover;
}
.pencarianProdukmu {
    position: absolute;
    top: 219px;
    left: 451px;
    font-size: 11px;
    line-height: 20px;
    font-weight: 500;
   color: #000;
    background-color: var(--color-gainsboro-100);
    outline: none;
    border: none;
}

.tambahProdukChild1 {
    position: absolute;
    top: 271px;
    left: 1219px;
    filter: blur(4px);
    border-radius: var(--br-3xs);
    background: linear-gradient(180deg, rgba(93, 240, 255, 0.5), rgba(79, 176, 255, 0.5));
    width: 355px;
    height: 307px;
}
.tambahProdukChild2 {
    position: absolute;
    top: 285px;
    left: 1235px;
    filter: blur(4px);
    background-color: var(--color-gainsboro-100);
    width: 323px;
    height: 41px;
}
.produkstokHabis {
    position: absolute;
    top: 296px;
    left: 1335px;
    line-height: 20px;
    font-weight: 500;
}
.kertasUsgSony {
    position: absolute;
    top: 363px;
    left: 1317px;
    line-height: 20px;
    font-weight: 500;
}
.tambahProdukChild3 {
    position: absolute;
    top: 344px;
    left: 1235px;
    border-radius: var(--br-8xs);
    background-color: var(--color-gray-100);
    width: 59px;
    height: 57px;
}
.groupInner {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: var(--br-8xs);
    background-color: var(--color-gray-100);
    width: 59px;
    height: 57px;
}
.screenshot202501131114452 {
    position: absolute;
    top: 7px;
    left: 17px;
    width: 25px;
    height: 44.5px;
    object-fit: cover;
}
.rectangleContainer {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 59px;
    height: 57px;
}
.tensimeterManual {
    position: absolute;
    top: 19px;
    left: 82px;
    line-height: 20px;
    font-weight: 500;
}
.groupParent {
    position: absolute;
    top: 420px;
    left: 1235px;
    width: 218px;
    height: 57px;
}
.groupDiv {
    position: absolute;
    top: 496px;
    left: 1235px;
    width: 164px;
    height: 57px;
}
.orderan {
    position: absolute;
    top: 251px;
    left: 27px;
    line-height: 20px;
    font-weight: 600;
    cursor: pointer;
    color:black
}
.orderan:hover {
    position: absolute;
    top: 251px;
    left: 27px;
    line-height: 20px;
    font-weight: 600;
    cursor: pointer;
    transition-duration: 0.4s;
    background-color: rgba(255, 255, 255, 0.5);
  transform: scale(1.05);
  border-radius: 8px;
  color: #000;
}
.groupChild2 {
    position: absolute;
    top: 3px;
    left: 0px;
    border-radius: var(--br-8xs);
    background-color: var(--color-darkgray);
    width: 94px;
    height: 16px;
}
.editProduk {
    position: absolute;
    top: 0px;
    left: 12.35px;
    line-height: 20px;
    font-weight: 600;
    display: inline-block;
    width: 82.6px;
}
.rectangleParent1 {
    position: absolute;
    top: 368px;
    left: 989px;
    width: 94.9px;
    height: 20px;
    cursor: pointer;
    font-size: var(--font-size-2xs);
    color:black;

}
.rectangleParent1:hover {
    position: absolute;
    top: 368px;
    left: 989px;
    width: 94.9px;
    height: 20px;
    cursor: pointer;
    font-size: var(--font-size-2xs);
    color:black;
    transition-duration: 0.4s;
	background-color: rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(1px);
    border-radius: 8px;
  transform: scale(1.05);
}
.alatCek3 {
    position: absolute;
    top: 233px;
    left: 170px;
    line-height: 20px;
    font-weight: 500;
}
.groupChild3 {
    position: absolute;
    top: 0px;
    left: 0px;
    filter: blur(4px);
    background-color: var(--color-gainsboro-100);
    width: 756px;
    height: 41px;
}
.gambarProduk {
    position: absolute;
    top: 6px;
    left: 13px;
    line-height: 20px;
    font-weight: 500;
}
.namaProduk {
    position: absolute;
    top: 6px;
    left: 169px;
    line-height: 20px;
    font-weight: 500;
}
.kursiRodaGea {
    position: absolute;
    top: 81px;
    left: 169px;
    line-height: 20px;
    font-weight: 500;
}
.hargaProduk {
    position: absolute;
    top: 6px;
    left: 416px;
    line-height: 20px;
    font-weight: 500;
}
.aksi {
    position: absolute;
    top: 6px;
    left: 686px;
    line-height: 20px;
    font-weight: 500;
}
.stok {
    position: absolute;
    top: 6px;
    left: 589px;
    line-height: 20px;
    font-weight: 500;
}
.rp100000 {
    position: absolute;
    top: 81px;
    left: 416px;
    line-height: 20px;
    font-weight: 500;
}
.groupChild4 {
    position: absolute;
    top: 62px;
    left: 39px;
    border-radius: var(--br-8xs);
    background-color: var(--color-gray-100);
    width: 59px;
    height: 57px;
}
.div3 {
    position: absolute;
    top: 81px;
    left: 605px;
    line-height: 20px;
    font-weight: 500;
}
.groupChild5 {
    position: absolute;
    top: 294px;
    left: 40px;
    border-radius: var(--br-8xs);
    background-color: var(--color-gray-100);
    width: 59px;
    height: 57px;
}
.rectangleWrapper {
    position: absolute;
    top: 138px;
    left: 39px;
    width: 59px;
    height: 57px;
}
.tensimeterManual1 {
    position: absolute;
    top: 157px;
    left: 169px;
    line-height: 20px;
    font-weight: 500;
}
.rp65000 {
    position: absolute;
    top: 157px;
    left: 416px;
    line-height: 20px;
    font-weight: 500;
}
.div4 {
    position: absolute;
    top: 157px;
    left: 603px;
    line-height: 20px;
    font-weight: 500;
}
.maskerNeo1 {
    position: absolute;
    top: 308px;
    left: 170px;
    line-height: 20px;
    font-weight: 500;
}
.rp10000 {
    position: absolute;
    top: 19px;
    left: 377px;
    line-height: 20px;
    font-weight: 500;
}
.rectangleParent2 {
    position: absolute;
    top: 214px;
    left: 39px;
    width: 443px;
    height: 57px;
}

.rp129000 {
    position: absolute;
    top: 308px;
    left: 417px;
    line-height: 20px;
    font-weight: 500;
}
.div5 {
    position: absolute;
    top: 233px;
    left: 598px;
    line-height: 20px;
    font-weight: 500;
}
.div6 {
    position: absolute;
    top: 308px;
    left: 605px;
    line-height: 20px;
    font-weight: 500;
}
.rectangleFrame {
    position: absolute;
    top: 370px;
    left: 40px;
    width: 59px;
    height: 57px;
}
.kertasUsgSony1 {
    position: absolute;
    top: 389px;
    left: 170px;
    line-height: 20px;
    font-weight: 500;
}
.rp650001 {
    position: absolute;
    top: 389px;
    left: 417px;
    line-height: 20px;
    font-weight: 500;
}
.div7 {
    position: absolute;
    top: 389px;
    left: 604px;
    line-height: 20px;
    font-weight: 500;
}
.icon4 {
    position: absolute;
    top: 374px;
    left: 59px;
    width: 23px;
    height: 50px;
    object-fit: contain;
}
.whatsappImage20250109At1 {
    position: absolute;
    top: 308px;
    left: 49px;
    width: 40px;
    height: 27.7px;
    object-fit: cover;
}
.whatsappImage20250109At1Icon {
    position: absolute;
    top: 66px;
    left: 45px;
    width: 50px;
    height: 49.4px;
    object-fit: cover;
}
.screenshot2025011311144521 {
    position: absolute;
    top: 143px;
    left: 56px;
    width: 25px;
    height: 44.5px;
    object-fit: cover;
}
.screenshot202501131125341 {
    position: absolute;
    top: 223px;
    left: 48px;
    width: 40px;
    height: 41.9px;
    object-fit: cover;
}
.rectangleParent3 {
    position: absolute;
    top: 233px;
    left: 670px;
    width: 94.9px;
    height: 20px;
    cursor: pointer;
    font-size: var(--font-size-2xs);
    color:black
}
.rectangleParent3:hover {
    position: absolute;
    top: 233px;
    left: 670px;
    width: 94.9px;
    height: 20px;
    cursor: pointer;
    font-size: var(--font-size-2xs);
    color:black;
    transition-duration: 0.4s;
	background-color: rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(1px);
    border-radius: 8px;
  transform: scale(1.05);
}
.rectangleParent4 {
    position: absolute;
    top: 308px;
    left: 670px;
    width: 94.9px;
    height: 20px;
    cursor: pointer;
    font-size: var(--font-size-2xs);
    color: #000;
}
.rectangleParent4:hover {
    position: absolute;
    top: 308px;
    left: 670px;
    width: 94.9px;
    height: 20px;
    cursor: pointer;
    font-size: var(--font-size-2xs);
    color:black;
    transition-duration: 0.4s;
	background-color: rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(1px);
    border-radius: 8px;
  transform: scale(1.05);
}
.rectangleParent5 {
    position: absolute;
    top: 389px;
    left: 670px;
    width: 94.9px;
    height: 20px;
    cursor: pointer;
    font-size: var(--font-size-2xs);
    color: #000;
}
.rectangleParent5:hover {
    position: absolute;
    top: 389px;
    left: 670px;
    width: 94.9px;
    height: 20px;
    cursor: pointer;
    font-size: var(--font-size-2xs);
    color:black;
    transition-duration: 0.4s;
	background-color: rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(1px);
    border-radius: 8px;
  transform: scale(1.05);
}
.alatCek3In1NescoParent {
    position: absolute;
    top: 288px;
    left: 325px;
    width: 764.9px;
    height: 427px;
}
.icon5 {
    position: absolute;
    top: 348px;
    left: 1253px;
    width: 23px;
    height: 50px;
    object-fit: contain;
}
.whatsappImage20250109At11 {
    position: absolute;
    top: 511px;
    left: 1245px;
    width: 40px;
    height: 27.7px;
    object-fit: cover;
}
.icon6 {
    position: absolute;
    height: 100%;
    width: 27.27%;
    top: 0%;
    right: 72.73%;
    bottom: 0%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.iniadmin {
    position: absolute;
    top: 14.81%;
    left: 35.35%;
    line-height: 20px;
    font-weight: 600;
}
.icon7 {
    position: absolute;
    height: 48.15%;
    width: 13.13%;
    top: 33.33%;
    right: -15.15%;
    bottom: 18.52%;
    left: 102.02%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.component3 {
    position: absolute;
    top: 99px;
    left: 27px;
    width: 99px;
    height: 27px;
    color: var(--color-white);
}
.rectangleParent6 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 94.9px;
    height: 20px;
    cursor: pointer;
    color:black
}
.rectangleParent6:hover {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 94.9px;
    height: 20px;
    cursor: pointer;
    color:black;
    transition-duration: 0.4s;
	background-color: rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(1px);
    border-radius: 8px;
  transform: scale(1.05);
}
.tambahProdukInner1 {
    position: absolute;
    top: 445px;
    left: 992px;
    width: 94.9px;
    height: 20px;
    cursor: pointer;
    font-size: var(--font-size-2xs);
}
.groupChild13 {
    position: absolute;
    top: 2.2px;
    left: 0px;
    border-radius: var(--br-8xs);
    background-color: #4fb0ff;
    width: 123px;
    height: 19.8px;
}
.tambahProduk2 {
    position: absolute;
    top: 0px;
    left: 12px;
    line-height: 20px;
    font-weight: 600;
    display: inline-block;
    width: 107px;
    height: 22px;
}
.rectangleParent7 {
    position: absolute;
    top: 144px;
    left: 1451px;
    width: 123px;
    height: 22px;
    cursor: pointer;
    font-size: 13px;
    color: #000;
}
.rectangleParent7:hover {
    position: absolute;
    top: 144px;
    left: 1451px;
    width: 123px;
    height: 22px;
    cursor: pointer;
    font-size: 13px;
    color:black;
    transition-duration: 0.4s;
	background-color: rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(1px);
    border-radius: 8px;
  transform: scale(1.05);
}
.tambahProduk {
    width: 100%;
    position: relative;
    background: linear-gradient(180deg, #dcdbdb, #b2c0da);
    height: 885px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-sm);
    color: var(--color-black);
    font-family: var(--font-poppins);
}

